<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 보기</title>
</head>
<body>
<div th:replace="header.html :: header"></div>

<div class="container">
    <h2>게시글 보기</h2>
    <table class="table">
        <tr>
            <td>제목</td>
            <td>
                <span id="tdtitle" th:text="${boardDto.btitle}"></span>
            </td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <span id="tdcontents" th:text="${boardDto.bcontents}"></span>
            </td>
        </tr>
        <tr>
            <td>작성자</td>
            <td>
                <span id="tdwriter" th:text="${boardDto.bwriter}"></span>
            </td>
        </tr>
        <tr>
            <td>작성일</td>
            <td>
                <span th:text="${#temporals.format(boardDto.bcreateDate, 'yyyy-MM-dd hh:mm:ss')}"></span>
            </td>
        </tr>
    </table>
    <div class="d-flex">
        <div>
            <a th:href="@{'/board/boardupdate/'} + ${boardDto.bno}">
                <button id="btnbupdate" type="button" class="btn btn-outline-secondary">수정</button>
            </a>
        </div>
        <div>
            <button class="btn btn-outline-secondary mx-2"
                    th:onclick="bdelete([[${boardDto.bno}]])">삭제
            </button>
        </div>
    </div>

    <br>
    <hr>
    <h3>댓글</h3>
</div>
</body>
</html>