<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
<div th:replace="header.html :: header"></div>

<h2>게시글 작성</h2>
<form action="/board/writecontroller" method="post">
    <table>
        <tr>
            <td>제목</td>
            <td>
                <input type="text" id="btitle" name="btitle">
            </td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea type="text" id="bcontents" name="bcontents"></textarea>
            </td>
        </tr>
        <tr>
            <td>작성자</td>
            <td>
                <input type="text" id="bwriter" name="bwriter">
            </td>
        </tr>
    </table>
    <div>
        <input type="submit">확인</input>
        <button type="button">취소</button>
    </div>
</form>
</body>
</html>