<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 보기</title>
</head>
<body>
<div th:replace="header.html :: header"></div>

<h2>게시글 보기</h2>
<table>
    <tr>
        <td>제목</td>
        <td>extitle</td>
    </tr>
    <tr>
        <td>내용</td>
        <td>excontents</td>
    </tr>
    <tr>
        <td>작성자</td>
        <td>홍길동</td>
    </tr>
    <tr>
        <td>작성일</td>
        <td>2022-04-10 14:30:11</td>
    </tr>
    <tr>
        <td>조회수</td>
        <td>11</td>
    </tr>
</table>
<div>
    <button type="button">수정</button>
    <button type="button">삭제</button>
</div>
<br>
<hr>
<h3>댓글</h3>
</body>
</html>