<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header.html :: header"></div>
<h2>My page</h2>
<table class="table">
    <tr>
        <td>아이디</td>
        <td>
            <span th:text="${memberDto.mid}" id="mid" name="mid"></span>
        </td>
    </tr>
    <tr>
        <td>비밀번호</td>
        <td>
            <span th:text="${memberDto.mpw}" id="mpw" name="mpw"></span>
        </td>
    </tr>
    <tr>
        <td>이름</td>
        <td>
            <span th:text="${memberDto.mname}" id="mname" name="mname"></span>
        </td>
    </tr>
    <tr>
        <td>이메일</td>
        <td>
            <span th:text="${memberDto.memail}" id="memail" name="memail"></span>
        </td>
    </tr>
    <tr>
        <td>가입일자</td>
        <td>
            <span th:text="${memberDto.mcreateDate}" id="mcreateDate" name="mcreateDate"></span>
        </td>
    </tr>
</table>
</body>
</html>